<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <title>EisenBoard</title>

    <!--<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>

<br/>
<div class="row">
    <div class="column">
        <div class="day">
            <h4>Sunday</h4>
            <div class="cardContainer" id="SundayContainer">
                <div class="card">
                    <h3>Task</h3>
                    <p>Some text</p>
                    <p>Some text</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="day">
            <h4>Monday</h4>
            <div class="cardContainer" id="MondayContainer">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="day">
            <h4>Tuesday</h4>
            <div class="cardContainer" id="TuesdayContainer">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="day">
            <h4>Wednesday</h4>
            <div class="cardContainer" id="WednesdayContainer">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="day">
            <h4>Thursday</h4>
            <div class="cardContainer" id="ThursdayContainer">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="day">
            <h4>Friday</h4>
            <div class="cardContainer" id="FridayContainer">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="day">
            <h4>Saturday</h4>
            <div class="cardContainer" id="SaturdayContainer">
            </div>
        </div>
    </div>
</div>

<br>


<table>
	<tr>
		<td>
<form>
<section>
    <h2>New Task</h2>
    <div>
        <span class="input-label">Task Title</span>
        <input type="text" class="form-control" name="taskTitle">
    </div>
    <br>
    <div>
        <span class="input-label">Description</span><br>
        <textarea class="form-control" name="description" rows="5"></textarea>
    </div>
    <br>
    <div>
        <span class="input-label">Due Date</span>
        <input type="date" class="form-control" name="dueDate">
    </div>
    <br>
    <div>
        <span class="input-label" >Ranking (1 to 5)</span>
        <!-- <input type="number" min="1" max="5" class="form-control" name="taskRanking"> -->
        <select id="numbers">
  			  <option value="1">One</option>
			  <option value="2">Two</option>
			  <option value="3">Three</option>
			  <option value="4">Four</option>
			  <option value="5">Five</option>
		</select>
    </div>
    <br>
    <div>
        <span class="input-label">Category</span>
        <input type="text" class="form-control"  name="category">
    </div>
    <br/>
    <div>
        <input type="submit">
    </div>
</section>
</form>

</td>
<td>

<form>
<section>
    <h2>Expanded Task Card</h2>
    <div>
        <span class="exp-card-label">Task Title:</span>
		<span class="exp-card-value">Title</span>
    </div>
    <br>
    <div>
        <span class="exp-card-label">Description:</span><br>
		<span class="exp-card-value">Description</span>
    </div>
    <br>
    <div>
        <span class="exp-card-label">Due Date:</span>
        <span class="exp-card-value">Date</span>
    </div>
    <br>
    <div>
        <span class="exp-card-label" >Ranking:</span>
		<span class="exp-card-value">Rank</span>
    </div>
    <br>
    <div>
        <span class="exp-card-label">Category:</span>
		<span class="exp-card-value">Cat</span>
    </div>
</section>
</form>

</td>
</tr>

<!-- This is for a possible task queue setup
<tr>
<td>

<form>
<section>
    <h2>Task Queue</h2>
    <div>
        <span class="queue-label">Queue</span>
    </div>
    <div>I don't really know how this would work</div>
</section>
</form>

	</td> 
</tr>  -->

</table>
</body>
</html>
